.address-store{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 10px;
}
.name-address{
    font-size: 17px;
    color: #CD5555;
}
.address-1{
    border: 1px dashed #CD5555;
    padding: 8px;
    margin: 7px 0px;
}
.add-address {
    margin: 15px 0px;
}
